.container {
    margin: 0 var(--font-size-4);
}

.h1 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--font-size-4);
    width: fit-content;
}

.h3 {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-regular);
}

.tagContainer {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-1);
}

.tags {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.buttonAdded {
    margin-top: var(--font-size-1);
    width: -webkit-fill-available;
}