.menu {
    align-items: center;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5rem;
    inset: 0;
    justify-content: center;
    position: absolute;
    z-index: 800;
}

.menu-item a {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-regular);
}

.menu-item--active a {
    font-weight: var(--font-weight-bold);
}