:root {
    --color-primary: #000;
    --color-primary-25: #00000040;
    --color-secondary: #FFF;

    --color-field: #cbc497;
    --color-field-dark: #a89d55;
    --color-sand: #d3b73d;
    --color-sand-dark: #c1a016;
    --color-red: #bb341f;
    --color-red-25: #bb341f40;
    --color-red-dark: #721904;
    --color-blue: #657b9f;
    --color-blue-25: #657b9f40;
    --color-blue-dark: #455b81;
    --color-orange: #b87f45;
    --color-orange-25: #b87f4540;
    --color-orange-dark: #985a1c;
    --color-green: #9eb45a;
    --color-green-25: #9eb45a40;
    --color-green-dark: #7b932e;

    --shadow: 0 4px 8px var(--color-primary-25);
    
    --font-primary: "Inter", sans-serif;
    --font-base: 1rem;
    --font-scale: 1.25;
    --font-size-0: calc(var(--font-base) / var(--font-scale));
    --font-size-1: var(--font-base);
    --font-size-2: calc(var(--font-size-1) * var(--font-scale));
    --font-size-3: calc(var(--font-size-2) * var(--font-scale));
    --font-size-4: calc(var(--font-size-3) * var(--font-scale));
    --font-size-5: calc(var(--font-size-4) * var(--font-scale));
    --font-size-6: calc(var(--font-size-5) * var(--font-scale));
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}