.saved-jobs-title {
    margin-left: 2rem;
    margin-top: 2rem;
}

.job-card-container {
    margin: 2rem;
}

.jobcard {
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    display: flex;
    padding: 0.9rem;
}

.job-card-image {
    background-size: cover;
    border-radius: 0.5rem;
    height: 5rem;
    width: 5rem;
}

.card-description {
    gap: 0.25rem;
    margin: 0.9rem;
}

.company-name {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
}

.job-title {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
}