.button {
    background-color: var(--color-primary);
    border-radius: 50vh;
    color: var(--color-secondary);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    padding: 1rem 2rem;
    text-align: center;
}

.button.icon {
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: var(--color-secondary);
    border-radius: 50%;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.swipe-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.button.save:active path {
    fill: var(--color-green);
}