.header {
    align-items: center;
    display: flex;
<<<<<<< HEAD:app/globalStyles/components/header.module.css
    justify-content: space-between;
    padding-inline: 2rem;
    min-height: 5rem;
    height: min-content;
}

.headerOpen {
    position: absolute;
    z-index: 900;
    width: 100%;
=======
    height: var(--font-size-4);
    justify-content: space-between;
    margin: 3rem var(--font-size-4) 0 var(--font-size-4);
>>>>>>> 962718c6141f7508c335408ae59c173d3c85914e:app/globalStyles/components/navigation.module.css
}

.hamburgerMenu {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: var(--font-size-3);
    justify-content: center;
    width: var(--font-size-3);
}

.navItem:hover {
    cursor: pointer;
}

.hamburgerMenuLine {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: var(--font-size-1);
    display: block;
    width: var(--font-size-3);
}

.positionLineOne, 
.positionLineThree {
    transition: transform .3s ease;
    position: absolute;
    width: var(--font-size-4);
}

.positionLineOne {
    transform: rotate(45deg);
}

.positionLineThree {
    transform: rotate(-45deg);
}

.hide {
    display: none;
}

.active {
    display: none;
}