.loginComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 var(--font-size-4);
    min-height: 100vh;
    min-height: 100svh;
}

.image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.button {
    width: 100%;
}

.createAccount {
    margin-top: var(--font-size-1);
    text-decoration: underline;
}