.see-more-image {
    display: flex;
    aspect-ratio: 1/1;
    background-size: cover;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}

.see-more-content {
    margin: 2rem;
}

.see-more-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: 1rem;
}

.see-more-description {
    margin-top: 3rem;
}

.see-more-button {
    margin-top: 3rem;
    width: 100%;
}

.see-more-job {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
}

.see-more-jobtitle {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
}

.see-more-beskrivning {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-bold);
}

.see-more-text {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-regular);
    margin-top: 0.6rem;
    line-height: 1.5;
}

