.imageContainer {
    height: 390px;
}

.image {
    height: inherit;
}

.arrow {
    position: absolute;
    top: var(--font-size-4);
    left: var(--font-size-4);
    height: var(--font-size-3);
    width: var(--font-size-3);
}

.arrowLeft {
    height: -webkit-fill-available;
}

.contentContainer {
    margin: 0 var(--font-size-4);
    display: flex;
    flex-direction: column;
    gap: var(--font-size-6);
}

.firstInfoContainer {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-1);
}

.nameAndJobTitle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: var(--font-size-4);
}

.tags {

}

.companyName {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-2);
}

.jobTitle {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-regular);
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-1);
}

.descriptionHeader {
    font-size: var(--font-size-1);
}

.description {
    line-height: var(--font-size-3);
}

.buttonsContainer {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
}

.buttonContainer {
    margin-bottom: var(--font-size-6);
}

.buttonWidth {
    width: -webkit-fill-available;
}

